@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
.container {
    background-image: url("/bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Caveat', cursive;
    background-size: cover;
    background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
}