@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
.container {
    background-image: url("/bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Caveat', cursive;
    background-size: cover;
}